<?xml version="1.0"?>
<!--
/**
 * Sample_News extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category  Sample
 * @package   Sample_News
 * @copyright 2016 Marius Strajeru
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 * @author    Marius Strajeru
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sample_News::news" title="News" module="Sample_News" sortOrder="65" resource="Sample_News::news"/>
        <add id="Sample_News::author" title="Authors" module="Sample_News" sortOrder="10"
             action="sample_news/author" resource="Sample_News::author" parent="Sample_News::news" />
    </menu>
</config>
